{% extends 'layout.html.twig' %}

{% block sidebar %}
    <div class="uk-panel uk-panel-box uk-text-center">
        <img class="uk-border-circle" src="{{ author.gravatarUrl(120) }}" alt="">
        <h3>{{ author.name }}</h3>
        <div class="uk-text-left">
            {{ author.bio | markdown }}
        </div>

        <div>
            {% for type, url in author.urls %}
                <a href="{{ url }}"><i class="uk-icon uk-icon-{{ type }}"></i></a>
            {% endfor %}
        </div>

    </div>

    <div class="uk-panel uk-panel-box">
        <h3>Recent posts by {{ author.shortName }}</h3>
        <ul class="uk-list uk-list-line">
            {% for post in blogs %}
                <li><a href="{{ path("app.post", { name : post.slug }) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1>Blog posts by {{ author.name }}</h1>
    {% for blog in blogs %}
        {% include 'summary.html.twig' with {blog : blog, title_size: 'lead'} only %}
    {% endfor %}
{% endblock %}

