{% extends 'layout.html.twig' %}

{% block sidebar %}
    <div class="uk-panel uk-panel-box">
        <h3>Recent posts</h3>
        <ul class="uk-list uk-list-line">
            {% for post in blogs | slice(0, 10) %}
                <li><a href="{{ path("app.post", { name: post.slug }) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% for blog in blogs %}
    <article class="uk-article">
        <h1 class="uk-article-title"><a href="{{ path("app.post", { name: blog.slug }) }}">{{ blog.title }}</a></h1>
        <p class="uk-article-meta">
            Written by <img class="uk-border-circle" src="{{ blog.author.gravatarUrl(20) }}"> {{ blog.author.name }} on {{ blog.date | date('F jS Y') }}.
        </p>

        {{ blog.content | markdown }}

        <p class="uk-article-meta">
            Tags: {% for tag in blog.tags %}<span class="uk-badge">{{ tag }}</span> {% endfor %}
        </p>

        <hr>
        <div class="uk-text-right">

            <i class="uk-icon uk-icon-link"></i>
            <a href="{{ url("app.post", { name: blog.slug }) }}" class="uk-margin-right">Permalink</a>

            <i class="uk-icon uk-icon-comment"></i>
            <a href="{{ path("app.post", { name: blog.slug }) }}#disqus_thread" data-disqus-identifier="{{ blog.url }}">First article</a>
        </div>
    </article>
    {% endfor %}
{% endblock %}
