{% extends 'layout.html.twig' %}

{% block title %}{{ blog.title }} by {{ blog.author.name }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ blog.author.name }}">
    <meta name="description" content="Author: {{ blog.author.name }}, Title: {{ blog.title }}">
{% endblock %}

{% block sidebar %}
    <div class="about uk-panel uk-panel-box uk-text-center">
        <img class="uk-border-circle uk-margin-bottom" src="{{ blog.author.gravatarUrl(120) }}" alt="">
        <div class="uk-text-left">
            {{ blog.author.bio | markdown }}
        </div>

        <div>
            {% for type, url in blog.author.urls %}
                <a href="{{ url }}"><i class="uk-icon uk-icon-{{ type }}"></i></a>
            {% endfor %}
        </div>

    </div>
    <div class="more uk-panel uk-panel-box">
        <h3>More posts by {{ blog.author.shortName }}</h3>
        {% for post in related %}
            <a href="{{ path("app.post", { name : post.slug }) }}">{{ post.title }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% include 'article.html.twig' with {blog : blog, comments: true} only %}
{% endblock %}
