{% extends 'layout.html.twig' %}

{% block title %}{{ blog.title }} by {{ blog.author.name }}{% endblock %}

{% block sidebar %}
    <div class="uk-panel uk-panel-box uk-text-center">
        <img class="uk-border-circle" src="{{ blog.author.gravatarUrl(120) }}" alt="">
        <h3>{{ blog.author.name }}</h3>
        <div class="uk-text-left">
            {{ blog.author.bio | markdown }}
        </div>

        <div>
            {% for type, url in blog.author.urls %}
                <a href="{{ url }}"><i class="uk-icon uk-icon-{{ type }}"></i></a>
            {% endfor %}
        </div>

    </div>
    <div class="uk-panel uk-panel-box">
        <h3>More posts by {{ blog.author.shortName }}</h3>
        <ul class="uk-list uk-list-line">
            {% for post in related %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <article class="uk-article">
        <h1 class="uk-article-title">{{ blog.title }}{% if blog.draft %} (DRAFT){% endif %}</h1>
        <p class="uk-article-meta">
            Written by <img class="uk-border-circle" src="{{ blog.author.gravatarUrl(20) }}"> {{ blog.author.name }}{% if not blog.draft %} on {{ blog.date | date('F jS Y') }}{% endif %}.
        </p>

        {{ blog.content | markdown }}

        <p class="uk-article-meta">
            Tags: {% for tag in blog.tags %}<span class="uk-badge">{{ tag }}</span> {% endfor %}
        </p>

        {% if not blog.draft %}
        <div id="disqus_thread"></div>
        <script>
            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//devyannickl88.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% else %}
            <div id="disqus_thread"><div class="uk-text-muted uk-text-center uk-text-small">This post is draft, comments are disabled.</div></div>
        {% endif %}
    </article>
{% endblock %}
