{% set title_size = title_size|default('default') %}
<article class="uk-article">
    <h1 class="{{ title_size == 'default' ? 'uk-article-title' : ('uk-article-' ~ title_size)}}">
        <a href="{{ path("app.post", { name : blog.slug }) }}">{{ blog.title }}</a>
    </h1>
    <p class="uk-article-meta">
        Written by <img class="uk-border-circle" src="{{ blog.author.gravatarUrl(20) }}"> <a href="{{ path("app.author", { name : blog.author.shortname | lower }) }}">{{ blog.author.name }}</a> on {{ blog.date | date('F jS Y') }}.
    </p>

    {{ blog.summary | markdown }}

    <div class="uk-grid">
        <div class="uk-width-1-2">
            <a href="{{ path("app.post", { name : blog.slug }) }}">Read whole post</a>
        </div>
        <div class="uk-width-1-2 uk-text-right">
            <i class="uk-icon uk-icon-comment"></i>
            <a href="{{ path("app.post", { name: blog.slug }) }}#disqus_thread">First article</a>
        </div>
    </div>
    <hr>
</article>
