<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Dev Blog</title>
        <description>Dev blog of Yannick de Lange &amp; Iltar van der Berg</description>
        <link>{{ host }}/</link>
        <atom:link href="{{ host }}/rss" rel="self" type="application/rss+xml" />

        {% for blog in blogs %}
        <item>
            <title>{{ blog.title }}</title>
            <description><![CDATA[{{ blog.summary | markdown }}]]></description>
            <link>{{ host }}{{ blog.url }}</link>
            <guid>{{ host }}{{ blog.url }}</guid>
            <pubDate>{{ blog.date | date('r') }}</pubDate>
        </item>
        {% endfor %}

    </channel>
</rss>
